﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap4.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet"/>
    <link href="/Content/font-awesome.min.css" rel="stylesheet"/>
</head>

<body style="background-color: #f5f8fa">

@*<div class="pos-f-t">
        <div class="collapse" id="navbar-header">
            <div class="container-fluid bg-inverse p-a-1">
                <h3>Collapsed content</h3>
                <p>Toggleable via the navbar brand.</p>
            </div>
        </div>
        <div class="navbar navbar-light bg-faded navbar-static-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
                &#9776;
            </button>
        </div>
    </div>*@

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <div class="container">
            <a class="navbar-brand" href="/">App Name</a>
                @{Html.RenderAction("_UserMenu", "Home");}
            </div>
        </div>
    </nav>

<div class="container">
    
    @RenderBody()

</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script src="/Scripts/bootstrap4.js"></script>
@{ Html.RenderAction("_RequireJS", "Home", new {context = ViewContext}); }
@RenderSection("scripts", false)
</body>
</html>