﻿@model Ferdinand.Core.Features.Account.LoginCommand

<div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-md-offset-4">
        <div class="card">
            <div class="card-block">
                <h2>User Login</h2>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new {@class = "text-danger"})
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Email:"})
                    </div><!--//form-group-->
                    <div class="form-group password">
                        <label class="sr-only" for="password">Password</label>
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Password:"})
                    </div><!--//form-group-->
                    <button type="submit" class="btn btn-lg btn-warning">Log In</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}