﻿@model Ferdinand.Core.Features.Account.RegisterCommand

<div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-md-offset-4">
        <div class="card">
            <div class="card-block">
                <h2>User Register</h2>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email:" })
                    </div><!--//form-group-->
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password:" })
                    </div><!--//form-group-->
                    <div class="form-group">
                        <label class="sr-only" for="confirmpassword">Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password:" })
                    </div><!--//form-group-->
                    <div class="form-group">
                        <label class="sr-only" for="firstname">Email</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name:" })
                    </div><!--//form-group-->
                    <div class="form-group">
                        <label class="sr-only" for="lastname">Email</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name:" })
                    </div><!--//form-group-->
                    <div class="form-group">
                        <label class="sr-only" for="phnum">Email</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number:" })
                    </div><!--//form-group-->
                    <button type="submit" class="btn btn-lg btn-warning">Register</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
