﻿/* ======= Junkie Section ======= */
.junkie {
  background-color: #f5f5f5;
  padding: 80px 0;
}
.junkie .content {
  padding: 0 60px;
}
.junkie .content .title {
  margin-top: 0;
  margin-bottom: 30px;
}
.junkie .content .intro {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #777777;
}
.junkie .content .note {
  position: relative;
  padding-bottom: 42px;
  color: #999999;
}
.junkie .content .note .left-arrow {
  position: absolute;
  left: 60px;
  top: 20px;
  display: inline-block;
  background: url('../images/arrows/down-arrow-left.png') no-repeat left top;
  width: 30px;
  height: 42px;
}
.junkie .content .note .right-arrow {
  position: absolute;
  right: 60px;
  top: 20px;
  display: inline-block;
  background: url('../images/arrows/down-arrow-right.png') no-repeat right top;
  width: 30px;
  height: 42px;
}
.junkie .content .qr-codes .item img {
  margin-bottom: 15px;
  max-width: 150px;
}
.junkie .content .qr-codes .item p {
  color: #777777;
}
.junkie .video-container {
  margin-top: 50px;
}
.junkie.offset-header {
    padding-top: 120px
}

.junkie .title {
  margin-bottom: 60px;
}
.junkie .item {
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 3px solid #c4e7d9;
  border-top: 3px solid #c4e7d9;
}
.junkie .item .question {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 15px;
}
.junkie .item .question .fa {
  margin-right: 10px;
  color: #7bcaab;
}
.junkie .item .answer {
  color: #777777;
  font-weight: 300;
}
.junkie .more {
  margin-top: 30px;
}
.junkie .more .title {
  margin-bottom: 15px;
  color: #999999;
  font-size: 18px;
}
.junkie .more .btn {
  font-size: 18px;
  padding-left: 30px;
}
.junkie .more .btn .fa {
  margin-left: 5px;
}
