﻿@using Ferdinand.Core.Extensions
@model Ferdinand.Core.Features.Workouts.GetCurrentWorkoutModel
@{
    ViewBag.Title = "Workout";
}

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block" data-bind="with: workout">
                <h2 data-bind="text: name"></h2>
                <!-- ko foreach: supersets -->
                <div data-bind="attr:{ id: getHtmlPanelId() }" role="tablist" aria-multiselectable="true" style="margin-bottom: 10px">
                    <div class="panel panel-default ferdinand-panel">
                        <a data-toggle="collapse" data-bind="attr: { href: '#' + getHtmlPanelBodyId() }" aria-expanded="true">
                            <div class="panel-heading bg-inverse ferdinand-panel-heading text-warning font-weight-bold" role="tab" data-bind="attr: { id: getHtmlPanelHeadingId() }">
                                Superset #1
                            </div>
                        </a>
                        <div data-bind="attr: { id: getHtmlPanelBodyId(), 'aria-labelledby': getHtmlPanelHeadingId() }" class="panel-collapse collapse" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- ko foreach: exercises-->
                                        <div data-bind="attr:{ id: getHtmlPanelId() }" role="tablist" aria-multiselectable="true" style="margin-bottom: 10px; padding-top: 10px">
                                            <div class="panel panel-default ferdinand-panel">
                                                <a data-toggle="collapse" data-bind="attr: { href: '#' + getHtmlPanelBodyId() }" aria-expanded="true">
                                                    <div class="panel-heading bg-inverse ferdinand-panel-heading text-warning font-weight-bold" role="tab" data-bind="attr: { id: getHtmlPanelHeadingId() }">
                                                        Exercise #1
                                                    </div>
                                                </a>
                                                <div data-bind="attr: { id: getHtmlPanelBodyId(), 'aria-labelledby': getHtmlPanelHeadingId() }" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12" style="padding-top: 10px">
                                                                <!-- ko foreach: sets-->
                                                                <div data-bind="attr:{ id: getHtmlPanelId() }" role="tablist" aria-multiselectable="true" style="margin-bottom: 10px; padding-top: 10px">
                                                                    <div class="panel panel-default ferdinand-panel">
                                                                        <a data-toggle="collapse" data-bind="attr: { href: '#' + getHtmlPanelBodyId() }" aria-expanded="true" aria-controls="collapseThree">
                                                                            <div class="panel-heading bg-inverse ferdinand-panel-heading text-warning font-weight-bold" role="tab" data-bind="attr: { id: getHtmlPanelHeadingId() }">
                                                                                Set #1
                                                                            </div>
                                                                        </a>
                                                                        <div data-bind="attr: { id: getHtmlPanelBodyId(), 'aria-labelledby': getHtmlPanelHeadingId() }" class="panel-collapse collapse" role="tabpanel">
                                                                            <div class="container">
                                                                                <div class="row">
                                                                                    <div class="col-md-12" style="padding-top: 10px">
                                                                                        <form>
                                                                                            <!-- ko foreach: attributes-->
                                                                                            <div class="form-group row">
                                                                                                <label data-bind="text: label, attr: { 'for': id }" class="col-md-2 col-xs-4 form-control-label"></label>
                                                                                                <div class="col-md-10 col-xs-8">
                                                                                                    <input type="text" class="form-control" data-bind="value: value, attr: { id: id }"/>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!-- /ko -->
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12" style="margin-bottom: 10px">
                                                                                        <div class="hidden-xs-down" >
                                                                                            <button type="button" class="btn btn-secondary text-success" data-bind="click: function(){}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</button>
                                                                                            <button type="button" class="btn btn-secondary text-warning" data-bind="click: $parent.copySet"><i class="fa fa-copy" aria-hidden="true"></i> Copy Set</button>
                                                                                            <button type="button" class="btn btn-secondary text-danger" data-bind="click: $parent.deleteSet"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Set</button>
                                                                                        </div>
                                                                                        <div class="btn-group btn-group-vertical hidden-sm-up btn-block" role="group" aria-label="Basic example">
                                                                                            <button type="button" class="btn btn-secondary text-success" data-bind="click: function(){}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</button>
                                                                                            <button type="button" class="btn btn-secondary text-warning" data-bind="click: $parent.copySet"><i class="fa fa-copy" aria-hidden="true"></i> Copy Set</button>
                                                                                            <button type="button" class="btn btn-secondary text-danger" data-bind="click: $parent.deleteSet"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Set</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /ko -->
                                                                <div class="row">
                                                                    <div class="col-md-12" style="margin-bottom: 10px">
                                                                        <div class="row">
                                                                            <div class="col-md-12" style="margin-bottom: 10px">
                                                                                <div class="hidden-xs-down">
                                                                                    <button type="button" class="btn btn-secondary text-success" data-bind="click: createSet"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Set</button>
                                                                                    <button type="button" class="btn btn-secondary text-warning" data-bind="click: $parent.copyExercise"><i class="fa fa-copy" aria-hidden="true"></i> Copy Exercise</button>
                                                                                    <button type="button" class="btn btn-secondary text-danger" data-bind="click: $parent.deleteExercise"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Exercise</button>
                                                                                </div>
                                                                                <div class="btn-group btn-group-vertical hidden-sm-up btn-block" role="group" aria-label="Basic example">
                                                                                    <button type="button" class="btn btn-secondary text-success" data-bind="click: createSet"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Set</button>
                                                                                    <button type="button" class="btn btn-secondary text-warning" data-bind="click: $parent.copyExercise"><i class="fa fa-copy" aria-hidden="true"></i> Copy Exercise</button>
                                                                                    <button type="button" class="btn btn-secondary text-danger" data-bind="click: function(){}"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Exercise</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-success" style="margin-bottom: 10px">
                                        <div class="row">
                                            <div class="col-md-12" style="margin-bottom: 10px">
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-bottom: 10px">
                                                        <div class="hidden-xs-down">
                                                            <button type="button" class="btn btn-secondary text-success" data-bind="click: createExercise"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Exercise</button>
                                                            <button type="button" class="btn btn-secondary text-warning" data-bind="click: function(){}"><i class="fa fa-copy" aria-hidden="true"></i> Copy Superset</button>
                                                            <button type="button" class="btn btn-secondary text-danger" data-bind="click: function(){}"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Superset</button>
                                                        </div>
                                                        <div class="btn-group btn-group-vertical hidden-sm-up btn-block" role="group" aria-label="Basic example">
                                                            <button type="button" class="btn btn-secondary text-success" data-bind="click: createExercise"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Exercise</button>
                                                            <button type="button" class="btn btn-secondary text-warning" data-bind="click: function(){}"><i class="fa fa-copy" aria-hidden="true"></i> Copy Superset</button>
                                                            <button type="button" class="btn btn-secondary text-danger" data-bind="click: function(){}"><i class="fa fa-eraser" aria-hidden="true"></i> Delete Superset</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.accordion-->
                <!-- /ko -->
                <div class="row">
                    <div class="col-md-12 text-success" style="margin-bottom: 10px">
                        <button type="button" class="btn btn-secondary text-success" data-bind="click: createSuperset"><i class="fa fa-plus-square" aria-hidden="true"></i>  Add Superset</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        define('modelData', function () {
            return {model: @Html.Raw(Model.ToJson())}
    });
    </script>
}