﻿@using Ferdinand.Core.Extensions
@model Ferdinand.Core.Features.Workouts.MyWorkoutsModel
@{
    ViewBag.Title = "Index";
}

<section id="promo" class="faq section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-12 col-sm-12 col-xs-12">
                <h2 class="title">My Workouts</h2>
            </div>
            <div class="faq-col col-md-12 col-sm-12 col-xs-12">
                <!-- ko foreach: model-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-heartbeat"></i><span data-bind="text: name"></span>
                    </h3>
                    <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est, sit amet ultricies magna enim et turpis. Donec aliquam velit eu sollicitudin cursus.</p>
                </div>
                <!-- /ko -->

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        define('modelData', function () {
            return {
                model: @Html.Raw(Model.ToJson())
            }
        });
    </script>
}
