﻿@{
    ViewBag.Title = "Index";
}
<section id="junkie" class="junkie offset-header section has-pattern">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">My Templates</h2>
            <div class="junkie-col col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>How can I  ipsum dolor sit amet?</h3>
                    <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est, sit amet ultricies magna enim et turpis. Donec aliquam velit eu sollicitudin cursus.</p>
                </div>
            </div>
        </div>
    </div>
</section>