﻿@model Ferdinand.Core.Features.Home.UserMenuModel
@{
    Layout = null;
}
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/LogOff">Log Off</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="/Account/Login">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Register">Register</a>
        </li>
    </ul>
}