﻿@using Ferdinand.Core.Extensions
@using Ferdinand.UI.Core.Helpers
@model Guid
<div class="row" style="margin-top: 20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-block" style="background-image: url('http://www.puppiesinflorida.com/wp-content/uploads/2016/07/Puppies_for_sale_in_florida.jpg'); height: 100px; background-size: 100%; background-repeat: no-repeat">

            </div>
            <div class="card-block" style="text-align: center">
                <img style="max-width: 100px;
                                        margin-top: -70px;
                                        margin-bottom: 5px;
                                        border: 3px solid #fff;
                                        border-radius: 100%;"
                     src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" />
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-warning btn-lg btn-block" href="/MyWorkouts/Current" role="button">Start A Workout</a>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-12">
                        <span class="font-weight-bold">First Last</span>
                        <span class="pull-xs-right text-muted">5 min</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin quis sapien vel pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in viverra nibh. Vestibulum ornare ut nisi ut maximus. Sed in velit sed diam tristique eleifend. Proin maximus dui tincidunt, auctor enim quis, ullamcorper felis. Nam iaculis a arcu quis tincidunt.
                        </p>
                        <p>
                            Donec elementum, lectus sed consectetur hendrerit, est urna fringilla nunc, vel sodales velit lectus ac turpis. Curabitur condimentum, dolor a cursus hendrerit, nulla metus rutrum orci, id molestie dolor nibh ac nibh. Mauris sed lobortis felis, quis ultrices justo. Duis elementum dui vehicula nulla facilisis malesuada. Quisque maximus lectus suscipit dapibus maximus. Maecenas pharetra scelerisque tortor, eget laoreet augue dapibus a. Quisque ac ex et lacus iaculis ornare sit amet eget lorem. Maecenas eu odio ullamcorper sem finibus tempus id vel ipsum. Mauris id rhoncus lorem, sed fringilla lectus. Donec massa ex, dignissim eget urna sit amet, porttitor lobortis tellus. Cras blandit mauris risus, at cursus eros scelerisque pellentesque.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <p>
                    Nulla tristique libero eget porta facilisis. Sed consectetur finibus tristique. Suspendisse ornare mollis erat, rhoncus hendrerit dolor feugiat quis. Ut diam magna, convallis a sapien id, faucibus luctus justo. Sed ac nisi ut libero iaculis efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus felis, venenatis sed dictum varius, consequat et metus. Proin eget elementum est. Maecenas id erat lobortis, placerat nunc et, condimentum ligula.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    Sed consequat lacinia leo, ut suscipit eros. Integer non metus et nisi pulvinar iaculis eget ut turpis. Cras lobortis felis quis elit placerat posuere. Integer ut tempor magna, quis cursus tortor. Mauris convallis elit eu lobortis porttitor. Vivamus at volutpat nisl, ut suscipit ante. Nullam ligula arcu, faucibus ac tincidunt sollicitudin, eleifend vitae elit. Vestibulum maximus, elit sed rhoncus rhoncus, ligula augue molestie nibh, nec sagittis tortor mi ac est. Cras gravida sem nulla, at feugiat velit cursus non. Aliquam in eros in ipsum venenatis euismod. Etiam vitae purus nec metus facilisis dignissim.
                </p>
                <p>
                    Fusce dignissim tellus sit amet massa fermentum, id egestas massa pharetra. Duis ultricies, leo eget sollicitudin laoreet, nulla magna cursus lacus, eu fermentum augue eros sed dui. Donec pulvinar venenatis suscipit. Pellentesque lacinia suscipit sem, sed rutrum mauris pellentesque id. Nam elementum cursus ligula, id bibendum justo congue nec. Nunc rutrum nunc eget magna interdum interdum. Praesent non pellentesque tortor, sed ultrices lectus. Donec eu neque in nulla ullamcorper mollis. Phasellus sem risus, vulputate vel purus vel, sagittis vulputate ante. Nunc sed mauris bibendum, rhoncus ligula et, semper est. Suspendisse vel ullamcorper libero. Mauris ornare egestas semper. Etiam non accumsan est.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    Praesent id laoreet est, nec suscipit odio. Praesent imperdiet porttitor felis ut commodo. Fusce vitae congue enim, porttitor tristique tellus. Fusce id massa nec magna euismod tempor. Sed id consequat mi. Nam tempor odio ac tempus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sed quam vitae nisl malesuada semper. In pellentesque mauris sed lorem elementum, sit amet hendrerit felis imperdiet. Ut eget urna tincidunt, pharetra sem vitae, scelerisque ipsum. In hac habitasse platea dictumst. Aenean sit amet massa commodo, convallis nisi vel, vehicula neque. Aliquam facilisis metus nisl, nec dapibus ante condimentum sit amet. Nulla sed ante lectus. Nulla placerat arcu non est hendrerit, quis sollicitudin dolor tempor.
                </p>
                <p>
                    Nulla facilisi. Sed laoreet enim id odio accumsan, vitae vestibulum lacus pharetra. Vivamus eu ante et ex tincidunt molestie. Duis vitae bibendum sapien. Nam sit amet leo vel odio tristique mollis. Morbi laoreet pellentesque nunc sit amet venenatis. In eu enim a ex scelerisque mattis in at lacus. Aliquam erat volutpat. Nullam venenatis consectetur efficitur. Donec sodales consectetur iaculis. Praesent a turpis lacinia, consequat mauris sed, egestas erat. Donec egestas nulla ac eleifend pulvinar. Fusce eleifend maximus viverra. Nulla sit amet molestie turpis. Sed maximus urna a leo dapibus eleifend non et augue. Suspendisse at dolor posuere, placerat magna non, fermentum nulla.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    Nulla eu luctus mauris, at gravida orci. Aliquam in tincidunt ante. Nulla consectetur diam neque, ac laoreet magna auctor nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed et lorem arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam quis nibh augue. Maecenas a lacinia tortor. Integer eget hendrerit lorem, at elementum magna. Fusce sit amet orci felis.
                </p>
                <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In pulvinar venenatis massa, sit amet pulvinar ligula accumsan et. Donec venenatis vel risus a scelerisque. Praesent quam sem, cursus et enim eget, hendrerit commodo mi. Donec tincidunt et erat ut euismod. Donec a sodales risus, finibus congue mauris. Nullam non libero quis leo semper sodales vitae a lectus. Pellentesque lectus mauris, cursus vel leo ut, fermentum faucibus nulla. Nulla eget ultrices justo. Sed convallis ex quis ornare aliquam. Proin facilisis turpis fermentum porta iaculis. Fusce ac tempor magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec orci nisl, pellentesque eu accumsan vehicula, egestas cursus nisl.
                </p>
                <p>
                    Integer sagittis euismod ligula, vitae sollicitudin leo feugiat non. Ut molestie ornare mauris, fringilla tempus magna. Aenean ultrices dolor lacus, nec hendrerit sapien dapibus sit amet. Etiam lorem eros, lobortis eu enim ut, feugiat facilisis massa. Integer enim mauris, condimentum nec mauris vel, convallis cursus risus. Ut interdum, eros non aliquam interdum, velit neque elementum tellus, non aliquet sapien felis non enim. Pellentesque congue elementum enim, dictum tincidunt nulla congue sed. Nulla facilisi. Fusce lobortis enim sed augue vestibulum, et porttitor est mollis.
                </p>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script>
        define('modelData', function() {
                return {
                    config: @Html.Raw(AppSettings.ClientAppSettings.ToJson()),
                    token: @Html.Raw(Model.ToJson())
            }
        });
    </script>
}